.service-v2{
    max-width: 370px;
}
.service-v2-image img{
    width: 100%;
    display: block;
}
.service-v2-content{
    background-color: #FAF5EF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 20px 20px;
}
.service-v2-title{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px;
}
.service-v2-text{
    font-size: 14px;
}