.banner-gallery-wrapper {
  padding: 15px;
}

.banner-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

.banner {
  flex-grow: 0;
}

button {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
}

.banner-gallery a {
  color: #000;
}

@media screen and (max-width: 768px) {
  .banner-gallery {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 430px) {
  .banner-gallery {
    grid-template-columns: auto;
  }
}