.services-wrap {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 35px;
    justify-content: center;
    padding: 50px 0;
}
@media screen and (max-width: 1200px) {
    .services-wrap {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 768px) {
    .services-wrap {
        grid-template-columns: auto;
    }
}