.equipment-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px 0;
}
.equipment-wrapper .case-section{
    max-width: 600px;
    margin: 0 auto;
}