.navigation-section{
    background-color: #fff;
}
.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
}
.navigation-links{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navigation-links li{
    list-style: none;
}
.navigation-links li a{
    text-decoration: none;
    color: #828282;
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 15px;
    transition-duration:250ms;
    transition-timing-function:ease;
}
.navigation-links li a:hover{
    text-decoration: none;
    color: #1a1819;
    font-weight: 600;
    border-bottom: 2px solid #f6a235;
}
.logo-container{
    max-width: 140px;
    border-right: 1px solid #E7DFD5;
    padding-right: 40px;
}
.logo-container img{
    display: block;
    width: 100%;
}
.navigation-links li .active-nav{
    color: #1a1819;
    border-bottom: 2px solid #f6a235;
}
.burger-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 50px;
}
.burger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: 300ms ease-in-out;
}
.burger-icon span:before,
.burger-icon span:after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: 300ms ease-in-out;
}
.burger-icon span:before {
    transform: translateY(-8px);
    position: absolute;
}
.burger-icon span:after {
    transform: translateY(8px);
    position: absolute;
}
.burger-icon.active-nav span:after {
    transform:rotate(90deg);
}
.burger-icon.active-nav span {
    transform:rotate(45deg);
}
.burger-icon.active-nav span:before {
    transform:translateX(900px);
}
.mobile-menu.show {
    display: block;
}
.mobile-menu.hide {
    display: none;
}
.mobile-menu{
    color: #1a1819;
}
@media screen and (max-width: 1024px) {
    .burger-icon {
        display: block;
    }
    .navigation-links,
    .button-container {
        display: none;
    }
    .navigation-links.show,
    .button-container.show {
        display: block; 
    }
}
@media screen and (max-width: 568px) {
    .navigation-container{
        padding: 25px;
    }
    .burger-icon {
        right: 25px;
    }
}